@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);
*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  background: #e4e8ed;
  font-family: 'Roboto', sans-serif;
}

.clear {
  clear: both;
}

#man-people-user, #lock-locker {
  fill: #2c3e50;
}

.wrapper {
  width: 300px;
  margin: 12% auto;
}

form {
  position: relative;
}

.clear {
  clear: both;
}

.sign-in {
  float: left;
  color: #2c3e50;
  font-size: 1.3em;
}

.lock {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 15px;
  padding: 7px;
  left: 5px;
}
.lock::after {
  content: "";
  width: 1px;
  height: 30px;
  position: absolute;
  background: #2c3e50;
  top: 0px;
  left: 100%;
}

.user {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  padding: 7px;
  left: 5px;
}
.user::after {
  content: "";
  width: 1px;
  height: 30px;
  position: absolute;
  background: #2c3e50;
  top: 0px;
  left: 100%;
}

input {
  width: 100%;
  padding: 10px;
  height: 40px;
  border-radius: 3px;
  margin: 5px 0;
  outline: none;

}

input[type="text"]:focus, input[type="password"]:focus {
  border: 2px solid #2c3e50;
  box-shadow: none;
}

.user-input:focus .user {
  background: white !important;
}

input[type="text"] {
  background: white;
  border: 1px solid white;
  padding-left: 45px;
  color: #2c3e50;
}

input[type="password"] {
  background: white;
  border: 1px solid white;
  padding-left: 45px;
  color: #2c3e50;
  margin-top: 10px;
}

input[type="submit"] {
  background: #32485d;
  border: none;
  color: white;
  text-align: center;
  font-size: 0.8em;
  cursor: pointer;
  margin-top: 30px;
}

input[type="submit"]:hover{
  background: #2c3e50;
}

input[type="submit"]:active{
  background: #32485d;
}
