/** Your theme modifications here **/
body{
  background: #ECF0F1;
}
#content {
  margin: 30px 30px 30px;
}
.cgroup{
  margin-top: 40px;
}
.page-section {
    padding: 40px;
}

.col-split-2 {
   position: relative;
   overflow: hidden;
 }
 .col-split-2:after {
   content: '';
   width: 1px;
   background: #eeeeee;
   left: 50%;
   top: 40px;
   bottom: 40px;
   display: block;
   position: absolute;
 }
